@import url(nav.css);

html {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #121212;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;

    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

main {
    margin: 15rem auto;
}

.about-me {
    background-color: darkslategray;
    max-width: 40rem;
    color: white;
    font-weight: 400;
    padding: 20px;
    border-radius: 10px;
}

.image-id img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
}