@import url(nav.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

html {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #121212;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;

    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

main {
    margin-top: 10rem;
    margin: 10rem auto;
}

.img-size img {
    height: 250px;
    width: 450px;
    border-radius: 10px;
    border-color: white;
    border-style: inset;
}

.portfolio-h2 h2 {
    margin-top: 1rem;
    margin-bottom: 4rem;
    color: white;
    font-weight: 600;
    font-size: 3rem;
    text-decoration: none;
    text-align: left;
}

.card-container {
    
    width: 100%;
}

.card-container h3, h2{
    color: white;
    text-align: center;
}

h2 {
    text-decoration: underline;
}

.card-container a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.card-container a:hover{
    color: gray;
    text-decoration: underline;
}

.card-one {
    text-align: center;
    margin-top: 1rem;
    background-color: darkslategray;
    padding: 2rem;
    border-radius: 10px;
    
}
.card-two {
    text-align: center;
    margin-top: 5rem;
    background-color: darkslategray;
    padding: 2rem;
    border-radius: 10px;
    
}
.card-three {
    text-align: center;
    margin-top: 5rem;
    background-color: darkslategray;
    padding: 2rem;
    border-radius: 10px;
}

.card-one a{
    text-align: center;
    margin-top: 1rem;
    font-weight: 500;
    
}
.card-two a{
    text-align: center;
    margin-top: 1rem;
    font-weight: 500;
    
}
.card-three a{
    text-align: center;
    margin-top: 1rem;
    font-weight: 500;
    
}

.card-info {
    text-align: center;
    text-overflow: inherit;
    max-width: 15rem;
    margin: auto;
    color: white;
    border-top: #121212;
    border-top-style: outset;
    padding: 0.5rem;
    margin-top: 1rem;
}